certifi
chardet
docx2md
google-generativeai
IPython
idna
langchain
langchain-community
langchain-experimental
langchain-google-genai
langgraph
logging
pydantic
PyMySQL
redis
requests
urllib3
uplink
python-dotenv
DBUtils