# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/


# 环境变量文件
.env

# 日志文件
*.log

# Jupyter Notebook
.ipynb_checkpoints

# IDE配置文件
.vscode/
.idea/
*.swp

# 数据文件
data_storage/
*.csv
*.json
*.xlsx

# 其他
*.DS_Store
*.tmp